# Dépendances
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Build Next.js (généré automatiquement)
.next/
out/
build
dist

# Fichiers de configuration locale (TES SECRETS !)
.env*.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Système
.DS_Store
*.pem
.vscode/
.idea/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
